/vendor/

/node_modules/

.env

composer.lock

.idea/
.vscode/

/storage/logs/
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/testing/
/storage/framework/views/
/storage/app/public/storage/

/public/mix-manifest.json


*.phpstorm.meta.php
